{% extends "base.html" %}

{% block title %}
Add Employee
{% endblock %}

{% block content %}

<div class="card">

    <div class="card-body">

        <h3>Add Employee</h3>

        <form method="POST">

            <div class="mb-3">
                <label>Name</label>

                <input
                    type="text"
                    name="name"
                    class="form-control"
                    required
                >
            </div>

            <div class="mb-3">
                <label>Email</label>

                <input
                    type="email"
                    name="email"
                    class="form-control"
                    required
                >
            </div>

            <div class="mb-3">
                <label>Department</label>

                <select
                    name="department"
                    class="form-select">

                    <option>Engineering</option>
                    <option>DevOps</option>
                    <option>Data Engineering</option>
                    <option>HR</option>
                    <option>Finance</option>

                </select>
            </div>

            <button class="btn btn-success">
                Save Employee
            </button>

        </form>

    </div>

</div>

{% endblock %}